.ytb-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    padding: 20px;
}

.ytb-image{
    height: 300px;
    margin-bottom: 25px
}

.ytb-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ytb-footer{
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.ytb-avatar{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.ytb-title{
    font-size: 20px;
    font-weight: 600;
}

.ytb-author{
    font-size: 12px;
    color: gray
}
